<!doctype html>
<html>
  <head>
    <style>
        html, body {
            position: relative;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; /* prevent scrollbars */
        }
        .wp-home-container {
            position: absolute;
        }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.metaDesc %>" />

  </head>
  <body>
      <div class="wp-home-container"></div>
  </body>
</html>